<h1>Change Band Name</h1>

<form action="<%= band_url(@band) %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <label for="name">Band Name:
            <input type="text" name="user[username]" value="<%= @band.name %>">
        </label>
        <br>

        <input type="submit" value="Change Band Name">
</form>