<div class = "section-nav-header">
    <nav class="section-nav">
        <ul>
            <li>World</li>
            <li>San Francisco</li>
            <li>New York</li>
            <li>Bootcamp Prep</li>
            <li>Jumpstart</li>
            <li>Online</li>
            <li>Marketing</li>
            <li>Sales</li>
            <li>Talent Match</li>
            <li>Alumni</li>
            <a href="www.all.com">All</a>
        </ul>
    </nav>
</div>






