<h1> Add a cat xD </h1>

    <%= render 'form', cat: @cat, type: :new%>

    <!--<form action="<%= cats_url %>" method="POST">
    <label for="name">Name:
        <input type="text" name="cat[name]" value="<%#= @cat.name %>">
    </label>
    <br>
    <label for="birth_date">Birth Date:
        <input type="text" name="cat[birth_date]" value="<%#= @cat.birth_date %>">
    </label>
    <br>
    <label for="description">Description:
        <input type="text" name="cat[description]" value="<%#= @cat.description %>">
    </label>
    <br>
    <label for="sex">Sex:
        <input type="text" name="cat[sex]" value="<%#= @cat.sex %>">
    </label>
    <br>

    <label for="color">El Color</label>
    <select id = "color" name="cat[color]">
        <option disabled selected>-- Por Favor Seleccione Color --</option>
        <%# Cat::SET_COLORS.each do |color| %>
            <option value="<%# color %>"> <%#= color %> </option>
        <%# end %>
    </select>

    <input type="submit" value="Add GATO"> -->

